MongoDB to Postgres & Postgres to MongoDB/MongoDB_to_Postgres_&_Postgres_to_MongoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>c6ba41d0-017a-1000-0830-d5827f015c75</groupId>
    <name>MongoDB to Postgres &amp; Postgres to MongoDB</name>
    <snippet>
        <controllerServices>
            <id>19e097f8-f102-351d-0000-000000000000</id>
            <parentGroupId>37c228bf-006b-301a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-mongodb-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>mongo-uri</key>
                    <value>
                        <name>mongo-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-client-auth</key>
                    <value>
                        <name>ssl-client-auth</name>
                    </value>
                </entry>
            </descriptors>
            <name>MongoDB Connection</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>mongo-uri</key>
                    <value>mongodb://localhost:27017</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>ssl-client-auth</key>
                    <value>REQUIRED</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
        </controllerServices>
        <controllerServices>
            <id>9c55bf4e-ee97-334c-0000-000000000000</id>
            <parentGroupId>37c228bf-006b-301a-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>PostgreSQL Connection</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://localhost:5432/nifi_test</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>file:F:/DESCARGAS/nifi-1.12.1/lib/postgresql-42.2.20.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>postgres</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>56f6cd45-dab7-3d7a-0000-000000000000</id>
            <parentGroupId>37c228bf-006b-301a-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>26e6d400-6741-3a88-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>94efe89d-42fe-3dc8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>1247f9c0-7067-333c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48d0b03b-21fe-3c4a-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>4c6ea77b-735f-3580-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>35d1a0e6-5050-3f2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55e91d2a-f4a1-3aba-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>96496945-f095-381b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>4c6ea77b-735f-3580-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>656b6985-3b29-3098-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>35d1a0e6-5050-3f2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>1e4e7f7b-3207-3234-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6badce6e-18d5-3f23-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>1247f9c0-7067-333c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>1a27c359-dbb7-37f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79b6f6ce-ffae-3645-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>3a5e363c-6551-3c5c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>96496945-f095-381b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7b2353c7-22c3-3bd6-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>4b9494ac-4837-3ab9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>c7f2623f-cf9e-3432-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7ea3471c-becb-342f-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>1a27c359-dbb7-37f6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>d25acdd3-77d3-3565-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9b9ec38c-6c84-3c64-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>d25acdd3-77d3-3565-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>35f6f190-af05-3930-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b2412844-4d2f-3e21-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>28033efd-46e9-3be8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>4b9494ac-4837-3ab9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fa22c058-17ec-3cbf-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>35f6f190-af05-3930-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>56f6cd45-dab7-3d7a-0000-000000000000</groupId>
                        <id>28033efd-46e9-3be8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>78310e76-a707-33ca-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>7fcd0972-24c1-3aa0-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>name</key>
                            <value>
<name>name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>score</key>
                            <value>
<name>score</name>
                            </value>
                        </entry>
                        <entry>
                            <key>student_id</key>
                            <value>
<name>student_id</name>
                            </value>
                        </entry>
                        <entry>
                            <key>type</key>
                            <value>
<name>type</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonPathReaderPostgresToMongo</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{

"namespace" : "nifi",
"name" : "students",
"type" : "record",
"fields" : [
			{"name" : "student_id", "type" : "long"},
			{"name" : "name", "type" : "string"},
			{"name" : "type", "type" : "string"},
			{"name" : "score", "type" : "double"}
			]
}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>name</key>
                            <value>$.name</value>
                        </entry>
                        <entry>
                            <key>score</key>
                            <value>$.score</value>
                        </entry>
                        <entry>
                            <key>student_id</key>
                            <value>$.student_id</value>
                        </entry>
                        <entry>
                            <key>type</key>
                            <value>$.type</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonPathReader</type>
                </controllerServices>
                <controllerServices>
                    <id>b9707ec5-471b-31a2-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>id</key>
                            <value>
<name>id</name>
                            </value>
                        </entry>
                        <entry>
                            <key>name</key>
                            <value>
<name>name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>score</key>
                            <value>
<name>score</name>
                            </value>
                        </entry>
                        <entry>
                            <key>student_id</key>
                            <value>
<name>student_id</name>
                            </value>
                        </entry>
                        <entry>
                            <key>type</key>
                            <value>
<name>type</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonPathReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-text-property</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>{

"namespace" : "nifi",
"name" : "students",
"type" : "record",
"fields" : [
			{ "name" : "id", "type" : "string"},
			{"name" : "student_id", "type" : "int"},
			{"name" : "name", "type" : "string"},
			{"name" : "type", "type" : "string"},
			{"name" : "score", "type" : "double"}
			]
}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>id</key>
                            <value>$.id</value>
                        </entry>
                        <entry>
                            <key>name</key>
                            <value>$.name</value>
                        </entry>
                        <entry>
                            <key>score</key>
                            <value>$.score</value>
                        </entry>
                        <entry>
                            <key>student_id</key>
                            <value>$.student_id</value>
                        </entry>
                        <entry>
                            <key>type</key>
                            <value>$.type</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonPathReader</type>
                </controllerServices>
                <funnels>
                    <id>313460a3-a8ea-3a38-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1184.0</x>
                        <y>1696.0</y>
                    </position>
                </funnels>
                <labels>
                    <id>3d11c57d-1b2b-311f-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>800.0</x>
                        <y>1128.0</y>
                    </position>
                    <height>40.0</height>
                    <label>segunda parte</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>168.0</width>
                </labels>
                <labels>
                    <id>442c259a-8019-3b64-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>496.0</y>
                    </position>
                    <height>64.0</height>
                    <label>FROM MONGODB
TO POSTGRES</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>216.0</width>
                </labels>
                <labels>
                    <id>a80dc1ce-775c-3ef4-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>534.0821830750659</x>
                        <y>1513.2958687557993</y>
                    </position>
                    <height>72.0</height>
                    <label>FROM POSTGRES
TO MONGODB</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>200.0</width>
                </labels>
                <labels>
                    <id>e4028943-88d4-372c-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>704.0</x>
                        <y>112.0</y>
                    </position>
                    <height>40.0</height>
                    <label>primera parte</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>176.0</width>
                </labels>
                <processors>
                    <id>1247f9c0-7067-333c-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>-280.0</x>
                        <y>1784.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-modify-define</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
  "name" : "${name}",
  "\\_id" : "${student_id}"
  
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>1a27c359-dbb7-37f6-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>360.0</x>
                        <y>1784.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-shift</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
  "*" : {
  "type" : "scores[&amp;1].type",
  "score" : "scores[&amp;1].score"
  }
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>1e4e7f7b-3207-3234-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>328.0</x>
                        <y>176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>json-type</key>
<value>
    <name>json-type</name>
</value>
                            </entry>
                            <entry>
<key>use-pretty-printing</key>
<value>
    <name>use-pretty-printing</name>
</value>
                            </entry>
                            <entry>
<key>mongo-charset</key>
<value>
    <name>mongo-charset</name>
</value>
                            </entry>
                            <entry>
<key>Query</key>
<value>
    <name>Query</name>
</value>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
<value>
    <name>mongo-query-attribute</name>
</value>
                            </entry>
                            <entry>
<key>Projection</key>
<value>
    <name>Projection</name>
</value>
                            </entry>
                            <entry>
<key>Sort</key>
<value>
    <name>Sort</name>
</value>
                            </entry>
                            <entry>
<key>Limit</key>
<value>
    <name>Limit</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>results-per-flowfile</key>
<value>
    <name>results-per-flowfile</name>
</value>
                            </entry>
                            <entry>
<key>mongo-date-format</key>
<value>
    <name>mongo-date-format</name>
</value>
                            </entry>
                            <entry>
<key>get-mongo-send-empty</key>
<value>
    <name>get-mongo-send-empty</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
<value>19e097f8-f102-351d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>nifi_test</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>students</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>json-type</key>
<value>Extended</value>
                            </entry>
                            <entry>
<key>use-pretty-printing</key>
<value>true</value>
                            </entry>
                            <entry>
<key>mongo-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Query</key>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
                            </entry>
                            <entry>
<key>Projection</key>
                            </entry>
                            <entry>
<key>Sort</key>
                            </entry>
                            <entry>
<key>Limit</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
                            </entry>
                            <entry>
<key>results-per-flowfile</key>
                            </entry>
                            <entry>
<key>mongo-date-format</key>
<value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
                            </entry>
                            <entry>
<key>get-mongo-send-empty</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 d</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.GetMongo</type>
                </processors>
                <processors>
                    <id>28033efd-46e9-3be8-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>1448.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>35d1a0e6-5050-3f2e-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.0</x>
                        <y>176.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$._id</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>35f6f190-af05-3930-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1536.0</x>
                        <y>1600.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>name</key>
<value>
    <name>name</name>
</value>
                            </entry>
                            <entry>
<key>student_id</key>
<value>
    <name>student_id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>name</key>
<value>$.name</value>
                            </entry>
                            <entry>
<key>student_id</key>
<value>$.student_id</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>3a5e363c-6551-3c5c-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>336.0</x>
                        <y>744.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>b9707ec5-471b-31a2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>PostgreSQL</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>9c55bf4e-ee97-334c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>public</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>students</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Fail on Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>4b9494ac-4837-3ab9-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>1192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>4c6ea77b-735f-3580-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.0</x>
                        <y>440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.scores</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>94efe89d-42fe-3dc8-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>-280.0</x>
                        <y>1480.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
<value>19e097f8-f102-351d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>nifi_test</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>s2dents</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>REQUIRED</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>insert</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>96496945-f095-381b-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>904.0</x>
                        <y>744.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-modify-define</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>{
  "id" : "${uuid}",
  "student_id" : "${id}",
  "name" : "${name}",
  "type" : "type",
  "score" : "score"
  
}</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>c7f2623f-cf9e-3432-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>440.0</x>
                        <y>1192.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>9c55bf4e-ee97-334c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>PostgreSQL</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>students</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>student_id,name,type,score</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 d</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryDatabaseTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>d25acdd3-77d3-3565-0000-000000000000</id>
                    <parentGroupId>56f6cd45-dab7-3d7a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>1784.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>
    <name>merge-strategy</name>
</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>
    <name>correlation-attribute-name</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>
    <name>min-records</name>
</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>
    <name>max-records</name>
</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>
    <name>min-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
<value>
    <name>max-bin-size</name>
</value>
                            </entry>
                            <entry>
<key>max-bin-age</key>
<value>
    <name>max-bin-age</name>
</value>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>
    <name>max.bin.count</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>7fcd0972-24c1-3aa0-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>78310e76-a707-33ca-0000-000000000000</value>
                            </entry>
                            <entry>
<key>merge-strategy</key>
<value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
<key>correlation-attribute-name</key>
<value>student_id</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>min-records</key>
<value>1</value>
                            </entry>
                            <entry>
<key>max-records</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>min-bin-size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>max-bin-size</key>
                            </entry>
                            <entry>
<key>max-bin-age</key>
                            </entry>
                            <entry>
<key>max.bin.count</key>
<value>200</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MongoDB to Postgres &amp; Postgres to MongoDB</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>07/24/2021 01:05:41 ART</timestamp>
</template>
